/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link; 

	&:hover {
		color: $color__link-hover;
	}
	&:focus {
		outline: none;
	}
	&:hover, 
	&:active {
		outline: 0; 
	}
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	ul.menu > li {
		padding: $phi*0.6em 0;
		&.menu-item-has-children 
		> a:after {
			@include menu_after();
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
			@include transition(0.25s);
			@include opacity(0);
			transform: translate3d(0,10px,0);
			visibility: hidden;
			float: left;
			position: absolute;
			top: 4em;
			z-index: 99999;
			background: #fff;
			li {
				margin: 0;
				a {
					padding: 9px 15px;
					&:hover {
						background: $color__link;
						color: #fff;
					}
				}
			}
			li.menu-item-has-children > a:after {
				@include menu_after();
				content: "\f105";	
				margin-left: 6px;
			}

			ul {
				@include opacity(0);
				visibility: hidden;
				top: 0;
				left: 100%;
				margin-left: 1px;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 240px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			@include opacity(1);
			visibility: visible;
			transform: translate3d(0,0,0);
		}
	}
	li {
		float: left;
		position: relative;
		margin-right: 2rem;
		margin-bottom: 0;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		@include font-size(11);
		letter-spacing: 1.5px;
		padding: 5px 0;
		font-weight: 600;
		text-transform: uppercase;
		display: block;
		text-decoration: none;
		color: $color__black;
		&:hover {
			color: $color__link;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

/* Close Button */
.close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #bdc3c7;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.m-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 43px;
	line-height: 43px;
	padding: 0 15px;
	cursor: pointer;
	background: #fff;
	font-size: 14px;
	i {
		@include opacity(0.7);
	}
	&.ul-enabled i {
		&:before {
			content: "\f0d8";
		}
	}
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

@media only screen and (min-width: 1024px) {
	.m-button {
		display: none !important;
	}
}

@media screen and (max-width: 1023px) {
	
	.main-navigation ul.menu li.menu-item-has-children > a:after {
		content: none !important;
	}

	.main-navigation ul.menu::-webkit-scrollbar {background-color: transparent;width: 0px;}
	.main-navigation ul.menu::-webkit-scrollbar-thumb {
		border-radius:10px;background:#ddd;
		-webkit-transition: all .3s ease-out;transition: all .3s ease-out;
	}	

	.main-navigation ul.menu {
		position: fixed;
		width: 300px;
		height: 100%;
		left: 0;
		background: $color__border-color;
		z-index: 100;
		overflow-y: scroll;

		-webkit-transform: translate3d(-320px,0,0);
		transform: translate3d(-320px,0,0);
		-webkit-transition: -webkit-transform 0.4s;
		transition: transform 0.4s;
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);

		> li {
			padding: 0;
		}
		ul {
			position: relative;
			@include opacity(1);
			visibility: visible;
			display: none;
			transform: translate3d(0,0,0);
			top: 0;
			left: 0;
			margin-left: 0;
			width: 100%;
			background: inherit;
			box-shadow: none;
			ul {
				a {
					background: darken($color__border-color, 12%);
				}
			}
			
			a {
				width: 100%;
				background: darken($color__border-color, 6%);
				padding-left: 30px;
			}	

		}
		li {
			display: block;
			width: 100%;
			ul {
				a {
					padding-left: 30px;
				}
				ul {
					a {
						padding-left: 45px;
					}
				}
			}
			a {
				padding: 12px 15px;
				&:hover {
					background: $color__link;
					color: #fff;
				}
			}
			&:hover {
				ul {
					left: 0;
				}
			}		
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
