// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.dt-button,
button, .post-read-more a {
  display: inline-block;
  color: $color__black;
  text-align: center;
  font-family: Georgia, serif;
  font-style: italic;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display: inline-block;
    height: 40px;
    padding: 0 30px;
    color: #fff;
    text-align: center;
    font-size: 11px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: $global-radius;
    border: 1px solid $color__black;
    background: $color__black;
    cursor: pointer;
    box-sizing: border-box;
  }
}

.dt-button:hover,
button:hover {
  color: lighten(#fff, 90%);
  border-color: $color__link; 
  background-color: $color__link;
  outline: 0;
}

input {
  &[type="submit"]:hover,
  &[type="reset"]:hover,
  &[type="button"]:hover {
    color: #fff;
    background: $color__link;
    border-color: $color__link;
    outline: 0;
  }
}

.dt-button.button-primary,
button.button-primary {
  color: #fff;
  background-color: $color__primary-color;
  border-color: $color__primary-color;
}

input {
  &[type="submit"].button-primary,
  &[type="reset"].button-primary,
  &[type="button"].button-primary {
    color: #fff;
    background-color: $color__primary-color;
    border-color: $color__primary-color;
  }
}

.dt-button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: $color__link;
  border-color: $color__link;
}

input {
  &[type="submit"].button-primary:hover,
  &[type="reset"].button-primary:hover,
  &[type="button"].button-primary:hover {
    color: #fff;
    background-color: $color__link;
    border-color: $color__link;
  } 
}

.dt-button.button-primary:focus,
button.button-primary:focus {
  color: #fff;
  background-color: $color__link;
  border-color: $color__link;
}

input {
  &[type="submit"].button-primary:focus,
  &[type="reset"].button-primary:focus,
  &[type="button"].button-primary:focus {
    color: #fff;
    background-color: $color__link;
    border-color: $color__link;
  }
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    height: 40px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: transparent;
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
  }
}
